<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Heebo:wght@300&family=Shantell+Sans:ital@1&display=swap" rel="stylesheet">
        body {
            background-image: url(./photos/background.jpg);
        }
        header h1 {
            display: flex;
            justify-content: center;
            padding: 15px;
            margin-top: 0px;
            font-size: 3em;
            font-family: 'Dancing Script', cursive;
            font-family: 'Heebo', sans-serif;
            font-family: 'Shantell Sans', cursive;
            color:rgb(159, 80, 233)
        }
        section {
            display: flex;
            justify-content: flex-start;
        }
        #magiccarpet {
            width: 40vw;
            height: 60vh;
        }
        #magicwand {
            width: 30vw;
            height: 50vh;
        }
        #potion {
            width: 20vw;
            height: 50vh;
        }
        #tarotcard {
            width: 40vw;
            height: 50vh;
        }
        nav {
            display: flex;
            justify-content: space-between;
            font-size: 1em;
            font-family: 'Dancing Script', cursive;
            font-family: 'Heebo', sans-serif;
            font-family: 'Shantell Sans', cursive;
        }
        a:link {
            color: rgb(159, 80, 233);
        }
        a:hover {
            color: brown;
        }
        .hover-image-scale img {
        transition: 1s; 
        display: block; 
        }
        .hover-image-scale img:hover {
        transform: scale(1.2); 
        }